services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ocr
      POSTGRES_USER: ocr
      POSTGRES_PASSWORD: ocr
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"   # Broker port
      - "15672:15672" # Management UI port
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    volumes:
      - minio:/data
    ports:
      - "9000:9000"
      - "9001:9001"
      
  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    env_file: .env
    restart: "no"
    entrypoint: >
      /bin/sh -c "
      echo '[INFO] Loading MinIO';
      until mc alias set local ${MINIO_ENDPOINT} ${MINIO_ACCESS_KEY} ${MINIO_SECRET_KEY} >/dev/null 2>&1; do
        sleep 2;
      done;
      echo '[INFO] MinIO ready. creating bucket';
      mc ls local/${MINIO_BUCKET} >/dev/null 2>&1 || mc mb -p local/${MINIO_BUCKET};
      echo '[INFO] created bucket';
      "

  api:
    build: ./backend
    env_file: .env
    environment:
      AWS_PROFILE: ocr
      AWS_SDK_LOAD_CONFIG: "1"
      AWS_EC2_METADATA_DISABLED: "true"
    volumes:
      - ${HOME}/.aws:/root/.aws:ro
    depends_on:
      - postgres
      - rabbitmq
      - minio
    ports:
      - "8000:8000"

  worker:
    build: ./backend
    env_file: .env
    environment:
      AWS_PROFILE: ocr
      AWS_SDK_LOAD_CONFIG: "1"
      AWS_REGION: us-east-1
    volumes:
      - ${HOME}/.aws:/root/.aws:ro  
      - easyocr_models:/root/.EasyOCR
    depends_on:
      - rabbitmq
      - minio
      - postgres
    command: >
      celery -A app.tasks:celery_app worker
      -l info
      --pool=solo
      --concurrency=1
      --prefetch-multiplier=1
      -O fair

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - api

volumes:
  pgdata:
  minio:
  easyocr_models:
  rabbitmq_data: